@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body,
html {
    font-family:'Courier New', Courier, monospace;
}
h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 200;
    color: #0ccac4;
}
.card {
    width: 24rem;
}
.container {
    width: 75%;
    margin-bottom: 5rem;
}
.footer {
    width: 100%;
    background-color: white;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
}
.footerText {
    padding: 0;
    margin: .3rem;
}
.footerText > a {
    text-decoration: none;
    color: brown;
}